body{
  background-color: #cfcdcd;
  width: 600px;
}
p{
  align-items: center;
  justify-content: center;
  margin-left: 220px;
  font-size: larger;
  text-decoration: underline;
  font-weight:600 ;

}
button{
  width: 150px;
  padding-left: none;
  border-radius: 50%;
  background-color: #b8e8e8;
  border-width: 1px;
}
img{
  width: 150px;
  border-radius: 50%;
  height:max-content;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  cursor: pointer;
}
.main-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}